<div class="max-w-xl m-auto">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <p class='block text-gray-700 text-sm font-bold mb-1'>お名前</p>
      <p class="w-full py-2 px-3 text-gray-700 leading-tight"><%= @contact.name %></p>
    </div>

    <div class="mb-4">
      <p class='block text-gray-700 text-sm font-bold mb-1'>メールアドレス</p>
      <p class="w-full py-2 px-3 text-gray-700 leading-tight"><%= @contact.email %></p>
    </div>

    <div class="mb-4">
      <p class='block text-gray-700 text-sm font-bold mb-1'>件名</p>
      <p class="w-full py-2 px-3 text-gray-700 leading-tight"><%= @contact.subject %></p>
    </div>

    <div class="mb-6">
      <p class='block text-gray-700 text-sm font-bold mb-1'>メッセージ</p>
      <p class="w-full py-2 px-3 text-gray-700 leading-tight"><%= @contact.message %></p>
    </div>

    <div class="flex justify-end">
      <div class="mr-3">
        <%= form_with model: @contact, url: back_contacts_path, data: { turbo: false } do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <%= f.submit '入力画面に戻る', class: "btn btn-outline" %>
        <% end %>
      </div>
      <div>
        <%= form_with model: @contact do |f| %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :email %>
          <%= f.hidden_field :subject %>
          <%= f.hidden_field :message %>
          <%= f.submit '送信', class: "btn btn-info text-white" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
