<!DOCTYPE html>
<html>
  <head>
    <title>CatHotwire Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render(Utility::FlashMessagesComponent.new()) %>
    <div class="grid grid-cols-[16rem_1fr] w-full">
      <%= render(Navigation::SidebarComponent.new()) %>
      <main class="py-8 px-8 bg-gray-100">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
